<style>
    .navbar {
        background-color: #2d2d39;
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        align-items: center;
    }
    .navbar h1 {
        font-size: 28px;
        margin: 0;
    }
    .navbar .nav-links {
        display: flex;
        gap: 30px;
    }
    .navbar .nav-links a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    .navbar .title-link {
        text-decoration: none;
        color: inherit;
    }
</style>

<nav class="navbar">
    <a href="/" class="title-link">
        <h1>
            JobQuest
        </h1>

    </a>
    <div class="nav-links">
        {% if is_logged_in %}
            <a href="/dashboard">Dashboard</a>
            <a href="/search">Search</a>
            <a href="/tracker">Tracker</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </div>
</nav>
