<!DOCTYPE html>
<html lang="en">   <!-- Source: www.geeksforgeeks.org/flask-message-flashing/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dashboard.css"> <!-- Links to css--> 
    <title> Dashboard </title>
</head>
<body>

    <!-- nav bar section -->
    {% include 'partials/nav.html' %}

    <!-- Flash message section -->
    {% include 'partials/flash.html' %}


    <div class="container">
        <h1>Welcome to your dashboard, {{ user.username }}!</h1>
        <p>Here is where your content will go...</p>
    </div>

    <!-- popup section-->
     {% include 'partials/popup.html' %}
     
</body>
</html>