<!DOCTYPE html>
<html lang="en">   <!-- Source: www.geeksforgeeks.org/flask-message-flashing/-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/landing.css"> <!-- Links to css-->
    <title> Landing </title>
</head>
<body>
    <nav class="navbar">
        <a href="/" class="title-link">
            <h1>JobQuest</h1>
        </a>
        <div class="nav-links">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </nav>
    
    <div class="content">
        <div class="welcome-section">
            <h1>Welcome to JobQuest</h1>
            <p>Your next career starts here.</p>
            <a href="/register" class="btn">Get Started</a>
            <p>Already have an account? <a href="/login">Log in here.</a></p>
        </div>
        <div class="image-section">
            Image Placeholder for a cool lookin pic
        </div>
    </div>
</body>
</html>