<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/landing.css"> <!-- Links to css-->
    <title> Landing </title>
</head>
<body>
    
    <!-- nav bar section -->
    {% include 'partials/nav.html' %}
    
    <div class="content">
        <div class="welcome-section">
            <h1>Welcome to JobQuest</h1>
            <p>Your next career starts here.</p>
            <a href="/register" class="btn">Get Started</a>
            <p>Already have an account? <a href="/login">Log in here.</a></p>
        </div>
        <div class="image-section">
            <img src ="static/images/Job.png" alt = "JobQuest Logo" class = "responsive-image">
        </div>
    </div>
</body>
</html>