<!DOCTYPE html>
<html lang="en">   <!-- Source: www.geeksforgeeks.org/flask-message-flashing/-->
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/resetpassword.css"> <!-- Links to css-->
   <title> Reset Password </title>
</head>
<body>


   <!-- nav bar section -->
   {% include 'partials/nav.html' %}


   <!-- Flash message section -->
   {% include 'partials/flash.html' %}


   <div class="container">
       <div class ="box">
       <h2>Reset Password</h2>
       <form id="resetpassword" action="/resetpassword" method="POST">
           <div class="form-group">
               <label for="question1">Security Question 1: In What City Were Your Born In?</label>
               <input type="question1" name="question1" id="question1" required>
           </div>
           <div class="form-group">
               <label for="question2">Security Question 2: What Is Your Favorite Food??</label>
               <input type="question2" name="question2" id="question2" required>
           </div>
           <div class="form-group">
               <label for="question3">Security Question 3: What Is Your Favorite Book Or Movie?</label>
               <input type="question3" name="question3" id="question3" required>
           </div>
           <div class="form-group">
               <label for="newpassword">New Password</label>
               <input type="password" name="newpassword" id="newpassword" required>
               <span id = "togglePassword" style="cursor: pointer; color: #6f42c1; text-decoration: underline;">Show Password</span>
           </div>
           <button type="submit">Reset Password</button>
       </form>
       </div>
   </div>
   


</body>
</html>

